@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  /* box-sizing: border-box; */
}

body {
  font-family: 'Montserrat', sans-serif;
}